/* reset css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
nav ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
*:focus {
    outline: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{font-family: "Helvetica Neue","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",arial,sans-serif;}
body{background-color:#e9e9e9;color:#211922}
.fl{float:left}
.fr{float:right}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.clear{clear:both}
.wrap-content{margin:0 auto;}
.left{float:left;width:100%;overflow:hidden;padding:0 20px;}
.left img{width:100%;height:auto;}
.right{float:none;width:auto;overflow:hidden;}
.right{padding:0 20px !important}
#vdesktop{display:block;}
#vmobile{display:none;}
#vdesktop .header {box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4); -moz-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4);position: relative;height: 48px;position: fixed;top:0px;width: 100%;background-color: #fff;}
#vdesktop .header .HeaderContainer {margin: 0 auto;text-align: center;width: auto;}
#vdesktop .header .HeaderContainer .Pinme {position: relative;top: 7px;}
#vdesktop .header .d-logo {margin: 0 auto;max-width: 92px;width: 100%;}
#vdesktop .header .d-logo img {height: auto;width: 100%;}
.ColumnContainer {min-height: 500px;}
/*.wrapheader {margin: 0 auto;max-width: 1250px;width: 93%;}*/
.MerchantHead{margin:0 auto;background-color:#fff;height:100%;z-index:2000;position:relative;}
.xclose{position:relative;top:-10px;left:20px;float:right;background: transparent url(../js/source/fancybox_sprite.png) 0 0 no-repeat; width:38px;height:35px;z-index:1000;cursor:pointer;} 
.overlay{display:block;height:100%;width:100%;position:fixed;top:0;left:0; background: url(../js/source/fancybox_overlay.png) repeat scroll 0 0 rgba(0, 0, 0, 0);z-index: 1000;}
#vmobile .topleftmenu{background:#009ad3;cursor:pointer;padding-top:3px;float:right;border-left:1px solid #ccc;width:51px;height:40px;margin-top:1px;}
#vmobile .topleftmenu .mobile_search{margin:0 auto;background:url(../images/menu-alt-512.png) no-repeat;height:33px;width:33px;display:block}
.tag-occation{font-size:30px;padding:1px 0;}
.tag-row{font-size:20px;padding:1px 0;}
.tag-date{font-size:16px;padding:1px 0 2px 0;}
.activeMenu{background-color:#C7E6F5}
.noActiveMenu{background-color:#DDF0F9}
@media screen and (max-width: 1100px){ 
	.left,.right{float:none;width:100%;margin: 0 auto !important;}
	.left{padding-bottom:0px !important;}
	.right{padding-top:20px !important;}
}
@media screen and (max-width: 768px){
	#vdesktop{display:none;}
	#vmobile{display:block;}
	.tag-occation{font-size:25px;padding:1px 0;}
	.tag-row{font-size:17px;padding:1px 0;}
	.tag-date{font-size:14px;padding:1px 0 2px 0;}
	#vmobile .header{position:fixed;top:1px;width:100%;height:40px;z-index:50;background-color:#00AEEF}
	#vmobile .header .logo{float:left;margin:4px 0 2px 10px;width:100%;max-width:79px;}
	#vmobile .header .logo img{width:100%;height:auto;}
	.ColumnContainer {margin: 97px auto 0;}
	/*.wrapheader {border: 1px solid #bfbfbf;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}*/
	#vmobile #topmenu{width:100%;position:fixed;top:40px;z-index:1000;height:42px;background-color:#DDF0F9;text-align:center}
	#vmobile #topmenu ul{list-style:none;width:100%;margin:0 auto;padding:0}
	#vmobile #topmenu li.borderright{border-right:1px solid #e9e9e9}
	#vmobile #topmenu li#showcase{float:left;width:50%}
	#vmobile #topmenu li#top-reviews{float:none;overflow:hidden;width:auto;}
	#vmobile #topmenu li a{display:block;padding-top:12px;font-size:15px;text-decoration:none;height:42px;text-align:center;color:#00AEEF;font-weight:bold}
	#socialmenu{text-align:center}
	#socialmenu ul{list-style:none;width:100%;margin:0 auto;padding:0}
	#socialmenu li{width:100%}
	#socialmenu li a{display:block;padding:10px 0;font-size:12px;text-decoration:underline;text-align:center;color:#7BCEEF;font-weight:bold}
}
@media screen and (max-width: 375px){ 
	.right{margin: 0 !important;}
}
